<% provide :head_tags do %>
    <%# Gon gem transfers rails hash data to JS %>
    <%= include_gon %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyC-tEAh56qJBnYr7WTsvWyPqa1G9lRPpCc&libraries=places&callback=initMap', 'data-turbolinks-track': 'reload'%>
<% end %>

<div id="map">
</div>