<% provide :head_tags do %>
    <%# Gon gem transfers rails hash data to JS %>
    <%= include_gon %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+ Rails.application.credentials.google_maps_api_key + '&libraries=places&callback=initMap'%>
<% end %>

<div id="map">
</div>