<h1>New Job</h1>
<% provide :head_tags do %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+ 'AIzaSyC-tEAh56qJBnYr7WTsvWyPqa1G9lRPpCc' + '&libraries=places&callback=initAutocomplete'%>
<% end %>

 <%= render 'form', job: @job %>

<%= link_to 'Back', root_path %>
